<div>
  <div class="navbar">
    <span (click)="this.generateNumbers()">Generate new array</span>
    <div class="arraySize">
      <div>Change array size</div>
      <div>
        <input type="range" class="arraySize" value="5" min="5" max="43" />
      </div>
    </div>
    <div class="sortingTypes">
      <span>Merge sort</span>
      <span>Quick sort</span>
      <span>Bubble sort</span>
    </div>
  </div>
  <div class="main">
    <div
      class="number"
      *ngFor="let item of this.array"
      [ngStyle]="{ 'padding-top.px': item * 5 }"
    >
      {{ item }}
    </div>
  </div>
</div>
